.card_container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto; */
    width: auto;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 
    box-shadow: 2px 2px 8px #BBF1E4;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border: 1px solid #D0D0D2;
    overflow: hidden;
    background-color: #F2F2F2;
    
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0;
}

.img_container {
    width: auto;
    height: 200px;
    grid-row: 1;

}

h1 {
    margin: 0;
    color: teal;
}

p {
    margin: 2px;
}
.text_container {
    grid-row: 2;
    text-align: center;
    font-size: 20px;
    margin: 0;
    height: 150px;
}

@media  (max-width: 400px) {
    .card_container {
        display: flex;
        flex-direction: column;

    }

    .container {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%
    }

}