.container {
    
    grid-gap: 1em;
    margin: 10px; 
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  
}

@media  (max-width: 400px) {
     .container {
        grid-template-columns: 1fr;
        
    }

}

