.body {
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
  }

.logo {
    background-color: white;
    text-align: center;
  }

  
  .logo img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }


.babyContainer {
    display: flex;
    justify-content: center;
    gap: 25px;   
    grid-row: 2;
    background-color: rgb(31,32,35);
}

.babyContainer div{
    color: white;
    padding: 8px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
}


@media  (max-width:400px) {
    .babyContainer {
        display: flex;
        flex-direction: column;
    }
}