.header {
    font-size: 45px;
    color: rgb(82,212,214);
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    text-align: center;
    align-items: center;
    margin: 25px;
    width: 800px;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.leftSide {
    grid-column: 1;
    float: left;
    object-fit: cover;
    overflow: hidden;   
}

 .leftSide img {
    width: 400px;

} 

.rightSide {
    grid-column: 2;
}



