

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    padding: 20px;
    width: 400px;
    height: 600px;
    border-radius: 25px;
    overflow: hidden;
}

input {
    width: 200px;
    height: 40px;
    margin: 5px;
}

textarea {
    width: 200px;
    height: 75px;
    margin: 5px;
}

select {
    width: 60px;
    height: 40px;
    
}

.input_container {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.qty_container {
    display: flex;
    align-items: center;
}

.img_container {
    height: auto;
    grid-row: 2;
    object-fit: cover;
    overflow: hidden;
}